{% extends 'all-rides/base.html' %} {% block content %}
<div class="cont">
  <div class="container">
    <div class="row">
      <div class="text-center" style="text-shadow:#000 2px 2px 15px;">
        <h1>Explore Nairobi Easily</h1>
        <h2>Yor Ride, on demand</h2>
        <p>Whether you’re headed to town, any direction, or to direction of ur choice the app connects you with a reliable ride — from low-cost to premium — in minutes. One tap and a car comes directly to you. Your driver knows exactly where to go or even
          you can be the driver. And you can pay with either cash or card.</p>

        <div class="col-md-8">
          <div class="text-center" style="text-shadow:#000 2px 2px 15px;" id="dere">
            <table style="width:30%" border="1">
              <tr>
                <th><a class="" href="{% url 'index' %}">Driver</a></th>
                <th><a class="" href="{% url 'passenger' %}">Passenger</a></th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="places">
      <p><strong id="home">Mombasa<small>@Mchana</small></strong></p>
      <p><strong id="away">nairobi <small>@{{user.username}}</small></strong></p>
      <p><strong>thika</strong></p>


    </div>
  </div>
  <div class="col-md-8">
    <div id="map">

    </div>
  </div>
</div>
{% endblock %}
