<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'rideToday' %}">The Ride</a>
      </div>

      <!-- adding a search form -->
      <div class="col-sm-4 col-md-4 navbar-right">
        <form class="navbar-form" action="" role="search">
          <div class="input-group">
            <input type="text" name="car" placeholder="Search" class="form-control">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
          </div>

        </form>

        <!--The search form above-->
        <div class="col-sm-6 col-md-6">
          {% if user.is_authenticated %}
          <ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                         <span class="caret"></span>
                     </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{%url 'rideToday'%}">Home</a>
                </li>
                <li>
                  <a href="/accounts/password/change">Change Password</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>

          {% endif %}
        </div>
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'rideToday'%}">Home</a>
              </li>
              <li>
                <a href="{%url 'new-profile'%}">Edit Profile</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <!-- search form end -->
    </div>
    </div>
